/* ServicesSection.css */

.services-section {
  padding-bottom: 4rem;
  text-align: center;
}

.card {
  padding: 1.5rem;
  border-radius: 1rem;
  border: 0.1rem solid #707070;
  height: 280px;
  background-color: #002733;
  color: white;
  transition: border 0.3s ease;
  text-align: left;
}

.card:hover {
  border-color: #fff;
}

.card img {
  transition: all 0.3s ease;
}

.card h4 {
  margin-top: 1rem;
}

.card p {
  margin-top: 0.5rem;
  font-size: 1rem;
}
